h1 {
    color: brown;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: aliceblue;
    background-color: rgb(1, 1, 47);
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 8px 10px 20px 2px rgb(62, 153, 226);
}